@model Consultorio_Dental_San_Juan_Sur_Solucion_WEB.Models.Cliente

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreCs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidoCs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApellidoCs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NtelefonoCs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NtelefonoCs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNacimientoCs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaNacimientoCs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CorreoCs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CorreoCs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContraseñaCs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContraseñaCs)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ClienteCedula">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
